<div class="modal-content">

	<form name="form" ng-submit="salvar(morador)" novalidate >

	<div class="modal-header">
    	<button type="button" class="close" aria-label="Close" ng-click="cancelar()" ><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title"><strong>Cadastro de Morador</strong></h4>
	</div>

	<div class="modal-body">
			<input name="morador" 
					   type="hidden"
					   class="form-control"
					   ng-model="morador.id">
		               
			<div class="form-group col-sm-12"
				 ng-class="{'has-error':form.morador.$invalid && (form.morador.$touched || form.$submitted)}">
						        
				<label class="control-label">Nome:</label> 
						        
				<input autofocus name="morador" 
					   type="text"
					   class="form-control"
					   ng-model="morador.morador" 
					   maxlength="255"
		               required >

				<div class="help-block"
					ng-show="form.morador.$error.pattern">
					<span>Informe um nome e sobrenome válido.</span>
				</div>
			</div>
						
			<div class="form-group col-sm-12"
				 ng-class="{'has-error':form.telefone.$invalid && (form.telefone.$touched || form.$submitted)}">
						        
				<label class="control-label">Telefone do Morador:</label> 
						        
				<input maxlength="20"
				       pattern="\d*"
					   name="telefone" 
					   type="text"
					   class="form-control"
					   ng-model="morador.telefone"
		               required 
		               id="telefone"/>
		        
		        <div class="help-block"
					ng-show="form.telefone.$error.required && (form.telefone.$touched || form.$submitted)">
					<span>Telefone é obrigatório</span>
				</div>
				<div class="help-block"
					ng-show="form.telefone.$error.pattern">
					<span>Telefone deve estar no formato (XX) XXXXX-XXXX</span>
				</div>
			</div>			
    </div>
    
    <div class="form-group row"></div>
    
    <div class="modal-footer">
    	<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		<button type="submit" class="btn btn-success">Salvar</button>
	</div>

	</form>
</div>