<div class="modal-content">

	<form name="form" ng-submit="salvar(animal)" novalidate>

		<div class="modal-header">
			<button type="button" class="close" aria-label="Close"
				ng-click="cancelar()">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">Cadastro de Animal</h4>
		</div>

		<div class="modal-body">

			<div class="form-group col-sm-12">
				<label><b><i>Dados da Animal</i></b></label>
				<hr>
			</div>
			<div class="form-group col-sm-6">
				<label class="control-label">Nome Popular:</label> <select
					class="form-control" name="cbnomePopularAnimal"
					id="cbnomePopularAnimal"
					ng-options="option.nome for option in nomesPopulares track by option.id"
					ng-model="animal.nomePopular">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-6">

				<label class="control-label">Espécie:</label>
				<div class="input-group">

					<select class="form-control" name="cbmunicipios" id="cbespecies"
						ng-options="option.especie for option in especies track by option.id"
						ng-model="animal.especie">
						<option value="" hidden>Selecione...</option>
					</select> <span class="input-group-btn">

						<button class="btn btn-default" type="button"
							data-toggle="tooltip" title="Adicionar nova espécie"
							ng-click="addEspecie()">+</button>
					</span>

				</div>
			</div>

			<div class="form-group col-sm-6">
				<label class="control-label">Idade:</label> <select
					class="form-control" name="cbmunicipios" id="cbIdadeAnimal"
					ng-options="option.idade for option in idades track by option.id"
					ng-model="animal.idade">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-6">
				<label class="control-label">Sexo:</label> <select
					class="form-control" name="cbmunicipios" id="cbSexoAnimal"
					ng-options="option.sexo for option in sexos track by option.id"
					ng-model="animal.sexo">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-6">
				<label class="control-label">Situação:</label> <select
					class="form-control" name="cbsitucaoAnimal" id="cbsitucaoAnimal"
					ng-options="option.situacao for option in situacoes track by option.id"
					ng-model="animal.situacao">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-6"
				ng-show="animal.situacao.situacao == 'Morto'">
				<label class="control-label">Tempo aproximado do Óbito</label> <select
					class="form-control" name="cbsitucaoAnimal" id="cbsitucaoAnimal"
					ng-options="option.tempoObito for option in temposObitos track by option.id"
					ng-model="animal.tempoObito">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<!-- Vida livre | Apreensao | Cativeiro -->
			<div class="form-group col-sm-12">
				<label><b><i>Parecer do Animal</i></b></label>
				<hr>
			</div>

			<div class="form-group col-sm-6">
				<label class="control-label">Animal de Vida Livre?</label> <select
					class="form-control" name="cbsitucaoAnimal" id="cbsitucaoAnimal"
					ng-options="option.vidaLivre for option in vidasLivre track by option.id"
					ng-model="animal.vidaLivre">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-6">
				<label class="control-label">Animal de Apreensão?</label> <select
					class="form-control" name="cbApreensaoAnimal"
					id="cbApreensaoAnimal"
					ng-options="option.apreensao for option in apreensoes track by option.id"
					ng-model="animal.apreensao">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-6">
				<label class="control-label">Animal de Cativeiro?</label> <select
					class="form-control" name="cbCativeiroAnimal"
					id="cbCativeiroAnimal"
					ng-options="option.cativeiro for option in cativeiros track by option.id"
					ng-model="animal.cativeiro">
					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-12">
				<label><b><i>Dados da Coleta</i></b></label>
				<hr>
			</div>

			<div class="form-group col-sm-12">

				<label class="control-label">Coleta de Visceras:</label>

				<div class="form-group col-sm-12">
					<label class="checkbox-inline checkbox-custom-alt"> <input
						name="customRadioAlt" type="radio"
						ng-model="animal.viscera.coleta" ng-value="true"> <i></i>Sim
					</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <label
						class="checkbox-inline checkbox-custom-alt"> <input
						name="customRadioAlt" type="radio"
						ng-model="animal.viscera.coleta" ng-value="false"> <i></i>Não
					</label>
				</div>

				<div ng-hide="animal.viscera.coleta == false">
					<div class="form-group col-sm-3" ng-repeat="viscera in visceras">
						<label> <input type="checkbox" checklist-model="visceras"
							checklist-value="viscera"> {{ viscera.viscera }}
						</label>
					</div>
				</div>

				<div ng-show="animal.viscera.coleta == false">
					<div class="form-group col-sm-12">
						<label class="control-label">Motivo:</label>
					</div>
					<div class="form-group col-sm-12">
						<input name="motivo" type="text" class="form-control"
							ng-model="animal.viscera.motivo">
					</div>

				</div>

			</div>

			<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Anormalidades Observadas /////////////////////////////////// -->

			<div class="form-group col-sm-12">

				<label class="control-label">Anormalidades Observadas:</label>

				<div class="form-group col-sm-12">

					<div class="row justify-content-start">

						<div class="form-group col-sm-3"
							ng-repeat="anormalidade in anormalidades">
							<label> <input type="checkbox"
								checklist-model="anormalidades" checklist-value="anormalidade">
								{{ anormalidade.sintoma }}
							</label>
						</div>

					</div>
				</div>
			</div>

			<div class="form-group col-sm-12">
				<label><b><i>Informações Complementares</i></b></label>
				<hr>
			</div>

			<div class="form-group col-sm-12">
				<label class="control-label">Outras Informações</label> <input
					name="bairro" type="text" class="form-control"
					ng-model="animal.outrasInformacoes">
			</div>

			<div class="form-group row"></div>
		</div>


		<div class="modal-footer">
			<!-- 			<button type="button" class="btn btn-primary"
				ng-click="onClickUpload(a)">Anexar Imagens</button> -->
			<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
			<button type="submit" class="btn btn-success">Salvar</button>

		</div>
	</form>
</div>