<script id="epizootia-info-template.html" type="text/ng-template">
	<div ng-non-bindable="">

        Data Coleta: {{selecionado.dataOcorrencia | date:'dd/MM/yyyy'}}<br/>
        Latitude: {{selecionado.localidade.latitude}}<br/>
		Longitude: {{selecionado.localidade.longitude}}<br/>
		Status: {{selecionado.classificacaoFA.classificacao}}	

	</div>
</script>
<div class="page" >

	<form name="form" novalidate>

		<section class="tile">
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font">
					<strong>Filtros</strong>
				</h1>

				<ul class="controls">
					<li class="dropdown" uib-dropdown><a ng-click="openMenu()"
						href tile-control-toggle class="dropdown-toggle settings"> <span
							class="expand fa fa-minus"></span> <span
							class="minimize fa fa-plus"></span>
					</a></li>
				</ul>
			</div>

			<div class="tile-body" ng-show="isOpen">
				<div class="form-group">
					<div class="form-group col-sm-8">
						<label class="control-label">Município:</label> <select
							name="municipio" class="form-control"
							ng-options="m as m.nome for m in municipios track by m.id"
							ng-model="municipio">
							<option value="">Todos...</option>
						</select>
					</div>
					<div class="col-sm-6"
						ng-class="{'has-error': ( form.dtColetaInicio.$invalid && (form.dtColetaInicio.$touched || form.$submitted) ) || ( form.dtColetaFim.$invalid && (form.dtColetaFim.$touched || form.$submitted) ) }">

						<label class="control-label">Inicio Coleta</label> <input
							name="dtSintomasInicio" type="text" class="form-control"
							ng-model="epizootiaFiltro.dtColetaInicio" bs-datepicker
							autoclose="true" required>
					</div>
					<div class="col-sm-6"
						ng-class="{'has-error': ( form.dtColetaInicio.$invalid && (form.dtColetaInicio.$touched || form.$submitted) ) || ( form.dtColetaFim.$invalid && (form.dtColetaFim.$touched || form.$submitted) ) }">

						<label class="control-label">Fim Coleta</label> <input
							name="dtSintomasFim" type="text" class="form-control"
							ng-model="epizootiaFiltro.dtColetaFim" bs-datepicker
							autoclose="true" required>


						<div class="help-block"
							ng-show="( form.dtColetaInicio.$invalid && (form.dtColetaInicio.$touched || form.$submitted) ) || ( form.dtColetaFim.$invalid && (form.dtColetaFim.$touched || form.$submitted) )">
							<span>Selecione o período</span>
						</div>
					</div>
				</div>



				<div class="row form-group"></div>
			</div>
		</section>

		<section class="tile">
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font">
					<strong>Mapa de Casos de Epizootia</strong>
				</h1>

				<ul class="controls">
					<li><a ng-click="buscarCasos()" href> <i
							class="fa fa-search"></i>
					</a></li>
				</ul>
			</div>

			<div class="tile-body">

				<ng-map style="
					height: 600px" 
					center="{{mapa.posicao}}"
					zoom="{{mapa.zoom}}" 
					mayTypeId="HYBRID">

					<!-- CLASSIFICAÇÂO EM ANÀLISE -->
					<marker 
					ng-repeat="a in analises" 
					position="{{a.posicao}}"
					on-click="abrirInfo(event, $index, false)" 
					draggable="{{isEdicao}}"
					icon="assets/imagens/icone_macaco_amarelo.png">
					</marker>  
					
					<shape
					name="circle" 
					ng-if="!isEdicao" 
					ng-repeat="a in analises"
					no-watcher="true" 
					stroke-color="#FF0000" 
					stroke-opacity="0.8"
					stroke-weight="2" 
					fill-color="#FF0000" 
					fill-opacity="0"
					center="{{a.posicao}}" 
					radius="300"> 
					</shape>
					
					<!-- CLASSIFICAÇÂO IGNORADOS -->
					<marker 
					ng-repeat="i in ignorados" 
					position="{{i.posicao}}"
					on-click="abrirInfo(event, $index, false)" 
					draggable="{{isEdicao}}"
					icon="assets/imagens/icone_macaco_verde.png">
					</marker>
						
					<shape
					name="circle" 
					ng-if="!isEdicao" 
					ng-repeat="i in ignorados"
					no-watcher="true" 
					stroke-color="#FF0000" 
					stroke-opacity="0.8"
					stroke-weight="2" 
					fill-color="#FF0000" 
					fill-opacity="0"
					center="{{i.posicao}}" 
					radius="300"> 
					</shape>
					
					<!-- CLASSIFICAÇÂO DESCARTADOS -->
					<marker 
					ng-repeat="d in descartados" 
					position="{{d.posicao}}"
					on-click="abrirInfo(event, $index, false)" 
					draggable="{{isEdicao}}"
					icon="assets/imagens/icone_macaco_verde.png">
					</marker>
						
					<shape
					name="circle" 
					ng-if="!isEdicao" 
					ng-repeat="d in descartados"
					no-watcher="true" 
					stroke-color="#FF0000" 
					stroke-opacity="0.8"
					stroke-weight="2" 
					fill-color="#FF0000" 
					fill-opacity="0"
					center="{{d.posicao}}" 
					radius="300"> 
					</shape>
					
					<!-- CLASSIFICAÇÂO CONFIRMADOS -->
					<marker 
					ng-repeat="c in confirmados" 
					position="{{c.posicao}}"
					on-click="abrirInfo(event, $index, false)" 
					draggable="{{isEdicao}}"
					icon="assets/imagens/icone_macaco_vermelho.png">
					</marker>
						
					<shape
					name="circle" 
					ng-if="!isEdicao" 
					ng-repeat="c in confirmados"
					no-watcher="true" 
					stroke-color="#FF0000" 
					stroke-opacity="0.8"
					stroke-weight="2" 
					fill-color="#FF0000" 
					fill-opacity="0"
					center="{{c.posicao}}" 
					radius="300"> 
					</shape>
					
					<info-window id="epizootia-info"
								template="epizootia-info-template.html">
					</info-window>
					
					
					</ng-map>


			</div>


		</section>

	</form>
</div>