<div class="page">

	<form name="form" method="post" enctype="multipart/form-data" novalidate >
		<section class="tile" >
			
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font"><strong>{{titulo}}</strong></h1>
			</div>

			<div class="tile-body" >
				<div class="form-group col-sm-6">
			        <label class="control-label">Data Início:</label> 
			        
					<input name="dtInicio"
			               type="text"
			               class="form-control" 
			               ng-model="dtInicio"
			               bs-datepicker
						   autoclose="true">
				</div>
				<div class="form-group col-sm-6">
			        <label class="control-label">Data Fim:</label> 
			        
					<input name="dtFim"
			               type="text"
			               class="form-control" 
			               ng-model="dtFim"
			               bs-datepicker
						   autoclose="true">
				</div>
				
				<div class="row"></div>
				
			</div>
			
			<div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
				<button type="button" class="btn btn-success" ng-click="visualizar()"> Visualizar </button>
			</div>
		</section>
	</form>
</div>