<div class="modal-content">
	<div class="modal-header">
    	<button type="button" class="close" aria-label="Close" ng-click="cancelar()" ><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Data de Atualização</h4>
	</div>

	<div class="modal-body">
		<div class="form-group col-sm-12">
					 
	        <label class="control-label">Data:</label> 
	        
			<input name="dtAtualizacao"
	               type="text"
	               class="form-control" 
	               ng-model="dtAtualizacao" 
	               bs-datepicker
				   autoclose="true">
			
		</div>	
	</div>
    
	<div class="modal-header">
	</div>
    
    <div class="modal-footer">
    	<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		<button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
	</div>

</div>