<script id="dengue-info-template.html" type="text/ng-template">
      <div ng-non-bindable="">
        Municipio: {{selecionado.municipio}}<br/>
        Localidade: {{selecionado.localidade}}<br/>
        Endereço: {{selecionado.endereco}}<br/>
        Número de Focos: {{selecionado.qtdeFocos}}<br/>
		Tipo de Depósito: {{selecionado.deposito}}<br/>
		Data Coleta: {{selecionado.dataColeta}}<br/>
        
		<u>A. aegypti</u><br/>
		Formas Aquáticas: {{selecionado.formasAquaticasAegypti}}<br/>
        Forma Ovo: {{selecionado.formasOvo}}<br/>

		<u>A. albopictus</u> <br/>
		Formas Aquáticas: {{selecionado.formasAquaticasAlbo}}<br/>

      </div>
</script>

<div class="page">

<form name="form" novalidate >

	<section class="tile" >
		<div class="tile-header dvd dvd-btm">
			<h1 class="custom-font"><strong>Mapa</strong></h1>
		</div>
		
		<div class="tile-body">
		
			<ng-map style="height: 700px"
			       	center="{{mapa.posicao}}" zoom="{{mapa.zoom}}" mayTypeId="HYBRID">
			
				<marker ng-repeat="f in focos"
					    position="{{f.posicao}}"
					    on-click="abrirInfo(event, $index)"
					    draggable="{{isEdicao}}"
					    on-dragend="onDragendMarker()">
      			</marker>
				
				<shape name="circle"
				   	 ng-repeat="f in focos" 
				   	 no-watcher="true"
				     stroke-color="#FF0000"
				     stroke-opacity="0.8"
				     stroke-weight="2"
				     fill-color="#FF0000"
				     fill-opacity="0"
				     center="{{f.posicao}}"
				     radius="300">
			   </shape>
			   
			   
			   <info-window id="dengue-info"
			   				template="dengue-info-template.html">
		      </info-window>
			   
			 </ng-map>
			
			
		</div>
		
		
	</section>
	
</form>
</div>