<div class="modal-content">

	<form name="form" ng-submit="salvar()" novalidate>

		<div class="modal-header">
			<button type="button" class="close" aria-label="Close"
				ng-click="cancelar()">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">Cadastro Amostra Animal</h4>
		</div>

		<div class="modal-body">
			<div class="form-group col-sm-12"
				ng-class="{'has-error':form.tipoAnimal.$invalid && (form.tipoAnimal.$touched || form.$submitted)}">

				<label class="control-label">Tipo Animal:</label>
				<div class="input-group">
					<select autofocus name="tipoAnimal" class="form-control"
						ng-options="t as t.nome for t in tiposAnimais | orderBy:'nome' track by t.id"
						ng-model="amostra.tipoAnimal" required>
						<option value="" hidden>Selecione...</option>
					</select> <span class="input-group-btn">
						<button class="btn btn-default" type="button"
							data-toggle="tooltip" title="Adicionar novo tipo de animal"
							ng-click="cadastrarTipoAnimal()">+</button>
					</span>
				</div>
				<div class="help-block"
					ng-show="form.tipoAnimal.$invalid && (form.tipoAnimal.$touched || form.$submitted)">
					<span>Tipo Animal é obrigatório</span>
				</div>
			</div>

			<div class="form-group col-sm-12" ng-if="amostra.tipoAnimal.mensagem.mensagem">
				<div class="alert alert-warning" role="alert">
					<strong>Observação!</strong> {{amostra.tipoAnimal.mensagem.mensagem}}.
				</div>
			</div>

			<div class="form-group col-sm-6"
				ng-class="{'has-error':form.tipoColeta.$invalid && (form.tipoColeta.$touched || form.$submitted)}">

				<label class="control-label">Tipo de Coleta:</label> <select
					name="tipoColeta" class="form-control"
					ng-options="t as t.descricao for t in tiposColeta | orderBy:'descricao' track by t.id "
					ng-model="amostra.tipoColeta" required>

					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-6"
				ng-class="{'has-error':form.ambiente.$invalid && (form.ambiente.$touched || form.$submitted)}">

				<label class="control-label">Local da Coleta:</label> <select
					name="ambiente" class="form-control"
					ng-options="a as a.descricao for a in ambientesColeta | orderBy:'descricao' track by a.id"
					ng-model="amostra.ambiente" required>

					<option value="" hidden>Selecione...</option>
				</select>
			</div>

			<div class="form-group col-sm-12"
				ng-class="{'has-error':form.coletaOrigem.$invalid && (form.coletaOrigem.$touched || form.$submitted)}"
				ng-show="amostra.ambiente.fgOrigem === true">

				<label class="control-label">Origem:</label> <input
					name="coletaOrigem" type="text" class="form-control"
					maxlength="255" ng-model="amostra.coletaOrigem"
					ng-required="amostra.ambiente.fgOrigem === true">
			</div>


			<div class="form-group col-sm-12">

				<label class="control-label">Metodologia de Coleta:</label>

				<div class="margin-top-10">
					<label class="checkbox-inline checkbox-custom-alt"> <input
						name="customRadioAlt" type="radio" ng-model="amostra.metodologia"
						ng-value="false"> <i></i> Manual
					</label> &nbsp; &nbsp; &nbsp; <label
						class="checkbox-inline checkbox-custom-alt"> <input
						name="customRadioAlt" type="radio" ng-model="amostra.metodologia"
						ng-value="true"> <i></i> Armadilha
					</label>
				</div>
			</div>

			<div class="form-group col-sm-8"
				ng-show="amostra.metodologia == true"
				}"
				 ng-class="{'has-error':form.tipo.$invalid}">

				<label class="control-label">Tipo Armadilha:</label> <select
					name="tipo" class="form-control"
					ng-options="t as t.descricao for t in tiposArmadilhas | orderBy:'descricao' track by t.id"
					ng-model="amostra.tipoArmadilha"
					ng-required="amostra.metodologia === true">

					<option value="" hidden>Selecione...</option>
				</select>
			</div>


			<div class="form-group col-sm-4"
				ng-show="amostra.tipoArmadilha.descricao == 'Outros' && amostra.metodologia == true"
				ng-class="{'has-error': amostra.tipoArmadilha.descricao == 'Outros' && form.especifiqueOutros.$invalid && (form.especifiqueOutros.$touched || form.$submitted)}">
				<label class="control-label">Especifique:</label> <input
					name="especifiqueOutros" class="form-control"
					ng-model="amostra.outroTipo"
					ng-required="amostra.tipoArmadilha.descricao == 'Outros'">
			</div>

			<div class="form-group col-sm-12 margin-top-25">
				<div class="checkbox">
					<label class="checkbox checkbox-custom-alt"> <input
						id="ch-aciente" type="checkbox" ng-model="amostra.fgAcidente"
						value="{{amostra.fgAcidente}}"> <i></i> Houve acidente?
					</label>
				</div>
			</div>

			<div class="form-group col-sm-12">

				<label class="control-label">Número de notificação SINAN:</label> <input
					type="number" name="numeroSinan" ng-maxlength="10"
					class="form-control" ng-model="amostra.nuNotificacaoSinan"
					>
			</div>


			<div class="form-group col-sm-12"
				ng-class="{'has-error':form.quantidade.$invalid && (form.quantidade.$touched || form.$submitted)}">

				<label class="control-label">Quantidade: </label> <input
					name="quantidade" type="number" class="form-control"
					ng-model="amostra.quantidade" min="1" required>

				<div class="help-block"
					ng-show="form.quantidade.$invalid && (form.quantidade.$touched || form.$submitted)">
					<span>Quantidade é obrigatório</span>
				</div>
			</div>
		</div>

		<div class="form-group row"></div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
			<button type="submit" class="btn btn-success">Salvar</button>
		</div>

	</form>
</div>