<div class="modal-content">

	<form name="form" ng-submit="salvar(logradouro)" novalidate >

	<div class="modal-header">
    	<button type="button" class="close" aria-label="Close" ng-click="cancelar()" ><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title"><strong>Cadastro Logradouro</strong></h4>
	</div>

	<div class="modal-body">
			<input name="nome" 
					   type="hidden"
					   class="form-control"
					   ng-model="localidade.id">
		               
			<div class="form-group col-sm-12"
				 ng-class="{'has-error':form.nome.$invalid && (form.nome.$touched || form.$submitted)}">
				
				<label class="control-label">Município:</label> 
				
				<select name="municipio" 
						class="form-control"
						ng-options="f as f.nome for f in municipios | orderBy:'nome' track by f.id"
						ng-model="logradouro.localidade.municipio"
						ng-change="getLocalidadesByMunicipio(logradouro.localidade.municipio)"
						ng-disabled="logradouro.id"
				        required>
						<option value="">Selecione...</option>
			    </select>
			    <div class="help-block"
						ng-show="form.municipio.$invalid && (form.municipio.$touched || form.$submitted)">
					<span>Munipípio é obrigatório</span>
				</div>
				
				<label class="control-label">Localidade:</label> 
				
				<select name="localidade" 
						class="form-control"
						ng-options="f as f.nome for f in localidades | orderBy:'nome' track by f.id"
						ng-model="logradouro.localidade"
						ng-disabled="logradouro.id || logradouro.localidade.municipio == null"
				        required>
						<option value="">Selecione...</option>
			    </select>
			    <div class="help-block"
						ng-show="form.localidade.$invalid && (form.localidade.$touched || form.$submitted)">
					<span>Localidade é obrigatório</span>
				</div>
				
						        
				<label class="control-label">Nome:</label> 
						        
				<input autofocus name="nome" 
					   type="text"
					   class="form-control"
					   ng-model="logradouro.nome" 
					   ng-disabled="logradouro.localidade == null"
					   maxlength="255"
		               required >
		        
		        <div class="help-block"
					ng-show="form.nome.$error.required && (form.nome.$touched || form.$submitted)">
					<span>Nome é obrigatório.</span>
				</div>
				
				<div class="help-block"
					ng-show="form.nome.$error.pattern">
					<span>Informe um nome válido.</span>
				</div>
			</div>
			
    </div>
    
    <div class="form-group row"></div>
    
    <div class="modal-footer">
    	<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		<button type="submit" class="btn btn-success">Salvar</button>
	</div>

	</form>
</div>