<div class="page">
<form name="form" novalidate >

	<section class="tile">
		<div class="tile-header dvd dvd-btm">
			<h1 class="custom-font"><strong>Filtros</strong></h1>

			<ul class="controls">
				<li class="dropdown" uib-dropdown id="btfiltro">
					<a ng-click="openMenu()" href tile-control-toggle class="dropdown-toggle settings">
						<span class="expand fa fa-minus"></span>
						<span class="minimize fa fa-plus"></span>
					</a>
				</li>
			</ul>
				
		</div>

		<div class="tile-body" ng-show="isOpen" >
		
			<div class="col-sm-12">
				<div class="form-group col-sm-6">
			        <label class="control-label">Código:</label> 
					<input  name="nficha" type="text" class="form-control" ng-model="especieCodigo">
			   </div>
				<div class="form-group col-sm-6">
			        <label class="control-label">Nome:</label> 
					<input  name="nficha" type="text" class="form-control" ng-model="especieNome">
			   </div>
			   
			   <div class="form-group col-sm-6">
			        <label class="control-label">Gênero:</label> 
					<select name="genero" 
						class="form-control"
						ng-options="f.id as f.nome for f in generos | orderBy:'nome' track by f.id"
						ng-model="especieGenero"
				        required>
						<option value="">Selecione...</option>
				    </select>
			   </div>
			   
			   <div class="form-group col-sm-6">
			        <label class="control-label">Família:</label> 
					<select name="familia" 
						class="form-control"
						ng-options="f.id as f.nome for f in familias | orderBy:'nome' track by f.id"
						ng-model="especieFamilia"
				        required>
						<option value="">Selecione...</option>
				    </select>
			   </div>
			   
			</div>
			<div class="row form-group" > 
			</div>
			
		</div>
		
	</section>
	
	<section class="tile" >
		<div class="tile-header dvd dvd-btm">
			<h1 class="custom-font"><strong>Lista de Especies </strong></h1>
				
			<ul class="controls">
				<li>
					<a ng-click="cadastrarEspecie()"
						title="Adicionar" 
						href >
						<span class="minimize fa fa-plus"></span>
					</a>
				</li>
				
				<li>
					<a ng-click="pesquisar()" 
					   href 
					   data-toggle="tooltip" 
		        	   title="Pesquisar">
						<i class="fa fa-search" ></i>
					</a>
				</li>
				
				<li ng-show="false">
					<a ng-click="openRelatorio()" 
					   href
					   data-toggle="tooltip" 
		        	   title="Gerar Relatório">
						<i class="fa fa-file-text"></i>
					</a>
				</li>
			</ul>
		</div>
	
		<div class="tile-body p-0">
			<table class="table table-hover">
			    <tr>
			    	<th>Código</th>
			        <th>Nome</th>
			        <th>Gênero</th>
			        <th>Família</th>
			        <th>Ações</th>
			    </tr>
			
			    <tr ng_repeat="f in lista">
			    	<td ng_bind="f.id"></td>
			        <td ng_bind="f.nome"></td>
			        <td ng_bind="f.genero.nome"></td>
			        <td ng_bind="f.genero.familia.nome"></td>
			        <td>
<!-- 			        	<a class="btn btn-info btn-xs fa fa-eye"   -->
<!-- 		        		   href="#!/artropodes/coletador/visualizacao/{{f.id}}"  -->
<!-- 		        		   data-toggle="tooltip"  -->
<!-- 		        		   title="Visualizar Ficha"></a> -->

		        		<a class="btn btn-warning btn-xs fa fa-pencil"  

		        		   ng-click="editarEspecie(f)"
		        		   data-toggle="tooltip" 
		        		   title="Alterar Espécie"></a>
		        		   		        		   
		        		<i class="btn btn-danger btn-xs fa fa-times" 
		        		   ng-click="confirmarRemover(f)" 
		        		   data-toggle="tooltip" 
		        		   title="Excluir Espécie"></i>
		        		   
		        	    </td>
			    </tr>
			</table>
		</div>
		<div class="tile-footer dvd dvd-top">
			<div class="row">
				<div rodape-paginado></div>
			</div>
		</div>
	</section>
	
</form>
</div>