<div class="modal-content">
	<form name="form" ng-submit="salvar()" method="post" enctype="multipart/form-data" novalidate>
		<div class="modal-header">
			<button type="button" class="close" aria-label="Close"
				ng-click="fechar()">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">Download de Arquivos de Laudo</h4>
		</div>

<!-- 		<div class="modal-body"> -->

		<div class="tile-body p-0">
			<section class="tile" >
		
			<table class="table table-hover">
			    <tr>
			        <th>Nome do Arquivo</th>
			        <th>Ações</th>
			    </tr>
			
			    <tr ng_repeat="a in listaArquivos">
			        <td ng_bind="a.nome"></td>			       
			        <td>
		        		        		   
		        		<i class="btn btn-success btn-xs fa fa-download"  
		        		   ng-click="onClickDownload(a)" 
		        		   data-toggle="tooltip"
		        		   title="Download de Imagem"></i>
		        		   
		        		<i class="btn btn-danger btn-xs fa fa-times" 
		        		   ng-click="confirmarRemover(a)" 
		        		   data-toggle="tooltip"
		        		   title="Excluir Imagem"></i>
			        </td>
			    </tr>
			
			</table>
		</section>
		</div>
<!-- 		</div> -->
</form>
</div>

