<div class="modal-content modal-lg">
	<form name="form" ng-submit="salvar()" method="post" enctype="multipart/form-data" novalidate>
		<div class="modal-header">
			<button type="button" class="close" aria-label="Close"
				ng-click="fechar()">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">Upload de Imagem de Tipo Animal</h4>
		</div>

		<div class="modal-body">

			<div class="p-15">
				<div class="form-group">
					<label class="btn btn-default btn-file"> Selecionar arquivo
						<input style="display: none;" ui-jq="filestyle" accept="MIME_type"
						type="file" class="filestyle"
						ui-options="{buttonText: 'Select file', iconName: 'fa fa-inbox'}"
						nv-file-select="" uploader="uploader">
					</label>
				</div>

				<table class="table b-a b-solid bg-white">
					<thead>
						<tr>
							<th width="50%">Nome do Arquivo</th>
							<th ng-show="uploader.isHTML5">Tamanho</th>
							<th ng-show="uploader.isHTML5">Progresso</th>
							<th>Status</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue" class="text-sm">
							<td><strong><input type="text" class="form-control" value="item.file.name" ng-model="item.file.name"></strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{
								item.file.size/1024/1024|number:2 }} MB</td>
							<td ng-show="uploader.isHTML5">
								<div class="progress progress-xs not-rounded"
									style="margin-top: 7px; margin-bottom: 0">
									<div class="progress-bar bg-cyan" role="progressbar"
										ng-style="{ 'width': item.progress + '%' }"></div>
								</div>
							</td>
							<td class="text-center"><span ng-show="item.isSuccess"
								class="text-success"><i class="fa fa-check"></i></span> <span
								ng-show="item.isCancel" class="text-warning"><i
									class="fa fa-ban"></i></span> <span ng-show="item.isError"
								class="text-danger"><i class="fa fa-times"></i></span></td>
							<td nowrap>
								<button type="button" class="btn btn-default btn-xs"
									ng-click="item.upload()"
									ng-disabled="item.isReady || item.isUploading || item.isSuccess">
									<span class="fa fa-upload"></span> Enviar
								</button>
								<button type="button" class="btn btn-default btn-xs"
									ng-click="item.cancel()" ng-disabled="!item.isUploading">
									<span class="fa fa-ban"></span> Cancelar
								</button>
								<button type="button" class="btn btn-default btn-xs"
									ng-click="item.remove()">
									<span class="fa fa-trash"></span> Remover
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<p>Progresso:</p>
				<div
					class="progress progress-sm progress-striped active bg-tr-black lt"
					style="">
					<div class="progress-bar bg-cyan" role="progressbar"
						ng-style="{ 'width': uploader.progress + '%' }"></div>
				</div>

				<button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a"
					ng-disabled="!uploader.getNotUploadedItems().length"
					ng-click="uploader.uploadAll()">
					<i class="fa fa-upload"></i> <span>Salvar Todos</span>
				</button>
<!-- 				<button class="btn btn-danger btn-ef btn-ef-5 btn-ef-5a" -->
<!-- 					ng-click="uploader.clearQueue()" -->
<!-- 					ng-disabled="!uploader.queue.length"> -->
<!-- 					<i class="fa fa-trash"></i> <span>Remover Todos</span> -->
<!-- 				</button> -->

				<button type="button" class="btn btn-default text-rigth" ng-click="fechar()">Finalizar</button>

			</div>

		</div>
</form>
</div>

